//colors
$color-text: #777;
$color-primary: #58e1c1;
$color-accent: #51ddfc;
$color-btn-success: #63cc82;
$color-btn-err: #e4757a;
$color-btn-warn: #fd7856;
$color-btn-info: #927bc1;
$color-frame: #ccc;
$color-white: #fff;
$color-light-purple: #deb2ee;
$color-sky-blue: #7ee6fd;
$color-light-green: #88d9a0;
$color-dark-blue: #4da2bb;
$color-turquoise: #80e8d1;

//font-weight
$font-light: 300;
$font-bold: 700;

//font-family
$main-font: 'Lato', sans-serif;

//breakpoints
$bp-tablet: 768px;
$bp-desktop: 990px;
$bp-lg: 1200px;
$bp-xlg: 1400px;

$max-width-lg: 1400px;




