//colors
$color-text: #777;
$color-primary: #58e1c1;
$color-accent: #51ddfc;
$color-btn_success: #63cc82;
$color-btn_err: #e4757a;
$color-btn_warn: #fd7856;
$color-btn_info: #927bc1;
$color-frame: #ccc;
$color-white: #fff;

//font-weight
$font-light: 300;
$font-bold: 700;

//font-family
$main-font: 'Lato', sans-serif;

//breakpoints
$bp-tablet: 768px;
$bp-desktop: 990px;
$bp-lg: 1200px;
$bp-xlg: 1400px;

$max-width-lg: 1400px;




