/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: #fff;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
  .default {
    background-color: $color-primary;
  }
  
  .error {
    background-color: $color-btn_err;
  }
  
  .info {
    background-color: $color-btn_info;
  }
  
  .success {
    background-color: $color-btn_success;
  }
  
  .warning {
    background-color: $color-btn_warn;
  }
  