/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $color-white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    transition: background-color .7s ease-out;
  }
  
  .default {
    background-color: $color-primary;
    &:hover {
      background-color: lighten($color-primary, 15%);
    }
  }
  
  .error {
    background-color: $color-btn_err;
    &:hover {
      background-color: lighten($color-btn_err, 15%);
    }
  }
  
  .info {
    background-color: $color-btn_info;
    &:hover {
      background-color: lighten($color-btn_info, 15%);
    }
  }
  
  .success {
    background-color: $color-btn_success;
    &:hover {
      background-color: lighten($color-btn_success, 15%);
    }
  }
  
  .warning {
    background-color: $color-btn_warn;
    &:hover {
      background-color: lighten($color-btn_success, 15%);
    }
  }
  