/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
    padding: 0 10px;
  }  
  
  .row {
    @include flex-column;
    padding: 1em 10px;
  }
  
  [class^=col] {
    margin-top: 10px;
    flex-basis: 100%;
    min-height: 25px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .theme.col-1 {
    background-color: $color-btn-info;
  }
  
  .theme.col-2 {
    background-color: $color-btn-warn;
  } 
  
  .theme.col-3 {
    background-color: $color-light-purple;
  }
  
  .theme.col-4 {
    background-color: $color-sky-blue;
  }
  
  .theme.col-5 {
    background-color: $color-light-green
  }
  
  .theme.col-6 {
    background-color: $color-dark-blue;
  }
  
  .theme.col-7 {
    background-color: #ec9fa3;
  }
  
  .theme.col-8 {
    background-color: #fd9f85;
  }
  
  .theme.col-9 {
    background-color: #e4757a;
  }
  
  .theme.col-10 {
    background-color: #63cc82;
  }
  
  .theme.col-11 {
    background-color: $color-accent;
  }
  
  .theme.col-12 {
    background-color: $color-turquoise;
  }
  
  .card {
    flex-basis: 100%;
  }
  